@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
padding: 0;
margin: 0;
}
h1{
    display: flex;
    font-size: 75px;
    justify-self: center;
    color: #D5451B;
    font-family: poppins, sans-serif;
}
body{
    background-color: #FF9B45;
}

.box{
    background-color: #F2F2F2;
    border-radius: 3%;
    text-decoration: none;
    border: none;
    font-family: poppins, sans-serif;
    font-weight: bolder;
    font-size: large;
    color: black;
}

.game{
    display: grid;
    height: 154px;
    width: 154px;
    background-color: black;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 50px 50px;
    grid-gap: 2px;
    margin: auto;
    margin-top: 8%;
}

#win{
    font-size: 50px;
    text-align: center;
    color: #D5451B;
    font-family: poppins, sans-serif;
}
.hidden{
    display: none;
}
.reset{
    display: flex;
    justify-self: center;
    text-decoration: none;
    border-style: solid;
    border-color:  #444444;
    font-family: poppins, sans-serif;
    font-size: 20px;
    border-radius: 3%;
    padding: 10px;
    margin-top: 3%;
    background-color: #2e2e2e;
    color: #f0f0f0;
    border-width: 5px;
}
.reset:hover{
    cursor: pointer;
   background-color: #3a3a3a; 
  border-color: #555555; 
}